.parent{
    margin-top: 100px;
    display: flexbox;
}
.left-side{
    width: 250px;
    height: 450px;
}
.right-side{
    width: 250px;
    height: 450px;
}
.imagealt{
    width: 640px;
    height: 450px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}
.space{
    letter-spacing: .5rem;
    font-family: Roboto+Flex ;
}
.font-tweak{
    font-family: Playfair+Display;
}
.para{
    font-family: Roboto+Flex;
}
.price-ele{
    display: inline-block;
}
